@model IEnumerable<TransportManagement.ViewModel.DriverInfoModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/site.css" />
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="subContainer">
            <p> @Html.ActionLink("Add New Driver", "Create") @*localhost:xxx/Driver/Create*@</p>
            <table class="table" >
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactNo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAvailable)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.RouteId)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DriverId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ContactNo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAvailable)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RouteId)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DriverId }) |
                            @Html.ActionLink("History", "History", new { id = item.DriverId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DriverId })
                        </td>
                    </tr>
                }

            </table>
            <p>
                @Html.ActionLink("Go to Homepage", "Index", "Home")
            </p>
        </div>
    </div>
</body>
</html>
