@model TransportManagement.ViewModel.TransportRouteModel

@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete Transport </title>
    <link rel="icon" type="image/x-icon" href="~/Content/vehicle.png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~/Content/site.css" />*@
    @*<style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
        </style>*@
    </head>
<body>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <div class="container">
        <div class="subContainer">
            @Html.ActionLink("Cancel", "Report", "Home")
            <table class="table table-bordered table-striped table-hover">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransportId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VehicleName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Origin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Destination)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DriverName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Passengers)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cost)
                    </th>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayFor(model => model.TransportId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VehicleName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Origin)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Destination)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DriverName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Passengers)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Cost)
                    </td>
                </tr>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.TransportId)

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Delete" class="btn btn-primary" />
                        </div>
                    </div>

            }
        </div>
    </div>
</body>
</html>
